.Title {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 10em;
    align-items: center;
}

.Title h3 {
    font-size: 1.5em;
    font-weight: lighter;
}

.Title h1 {
    font-size: 6em;
    font-weight: 200;
}