.Section1{
    background:url(../media/NYCpic.jpg) no-repeat center ;
    height: 50vh;
    width: 100%;
    align-items: center;
}

@media only screen and (min-width: 1900px){ 

    .Section1{
        background:url(../media/NYCity4k.jpg) no-repeat center;    
    }
    }