.TravelType{
    font-size: calc(0.55em + 0.75vmin);
    font-weight: 700;
    color: white;
    background: rgba(0,0,0, .1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin: auto;
}

.TravelType div{
    margin: 0 1em 0 1em;
}

